@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

:root {
   --main-color: #be9c79;
   --black: #333;
   --white: #fff;
   --light-color: #666;
   --border: .2rem solid var(--black);
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
   font-family: 'Merienda One', cursive;
   margin: 0;
   padding: 0;
   text-decoration: none;
   text-transform: capitalize;
   box-sizing: border-box;
   border: none;
   outline: none;
}

*::selection {
   background-color: black;
   color: white;
}

::-webkit-scrollbar {
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: transparent;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section {
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}


.box-container .box i {
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: #F8AFA6;
   color: var(--white);
   margin-bottom: 1rem;
}

.social-media .box-container {
   display: flex;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
}

.box-container .box i:hover {
   color: black;
   background-color: #e78376;
   transition: 0.5s ease-in-out;
}




.header {
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1.5rem 2rem;
}


.logo {
   font-size: 40px;
   font-weight: bold;
   color: #de6657;
   font-family: 'Lobster', cursive;
   text-transform: uppercase;
   text-shadow: 4px 4px 5px #eb4c37;
}

.header .flex .navbar a {
   margin-left: 2rem;
   font-size: 2rem;
   color: var(--black);
}

.header .flex .navbar a:hover {
   text-decoration: underline;
   color: #de6657;
}

#menu-btn {
   display: none;
   font-size: 2.5rem;
   color: black;
   cursor: pointer;
}



/*home-bg section*/
.home-bg {
   background: linear-gradient(90deg, var(--white), transparent 70%), url(../images/home-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.home-bg .home {
   min-height: 70rem;
   display: flex;
   align-items: center;
}

.home-bg .home .content {
   width: 50rem;
   text-align: center;
}

.home-bg .home .content h3 {
   font-size: 6rem;
   color: black;
   font-family: 'Merienda One', cursive;
}

.home-bg .home .content p {
   padding: 1rem 0;
   font-size: 1.6rem;
   color: black;
   line-height: 2;
}


@media (max-width:991px) {
   html {
      font-size: 55%;
   }

}

@media (max-width:768px) {

   #menu-btn {
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times {
      transform: rotate(180deg);
   }

   .header .flex .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: #f5bbb4;
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a {
      display: block;
      margin: 2rem;
   }

   .home-bg {
      background-position: left;
   }

   .home-bg .home {
      justify-content: center;
   }

   .home-bg .home .content h3 {
      font-size: 4rem;
   }

   .about .content h3 {
      font-size: 3rem;
   }

}

@media (max-width:450px) {

   html {
      font-size: 50%;
   }

   .heading img {
      height: 3rem;
   }

   .heading h3 {
      font-size: 3rem;
   }

}


@media only screen and (max-width:600px) {
   .special {
      display: none;
   }
}

@media only screen and (max-width: 800px) {
   .special {
      display: none;
   }
}


.heading {
   text-align: center;
   margin-bottom: 3rem;
}


.heading h3 {
   font-size: 4rem;
   color: var(--black);
   font-family: 'Merienda One', cursive;
}

/*services section*/
.service-section {
   padding: 70px;
}



.service-title {
   font-size: 20px;
   color: coral;
}

.service-part {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 100px;
   margin-top: 1.5rem;
   flex-wrap: wrap;
}

.service-card {
   padding: 10px;
   box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
   transition: 0.3s;
   border-radius: 5px;
   box-shadow: 7px 7px 7px #F8AFA6;
   ;
}


.service-card img {
   width: 250px;
   height: 200px;
   border-radius: 5px;
}

.card-part {
   width: 250px;
   padding: 10px 15px;
}

p {
   font-size: 15px;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}



/*menu section*/
.food-section {
   padding: 40px;
   margin-top: 50px;
}

.star-rating {
   color: rgb(243, 78, 18);
}

.column3 {
   margin-bottom: 50px;
   transition: 0.5s;
}

.column3:hover {
   transform: translateY(-10px);
}

.row {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.column3 h4 {
   font-size: 13px;
}

.sizing {
   height: 350px;
}


/*order section*/
.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
}

.prev,
.next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}


.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
   background-color: rgba(0, 0, 0, 0.8);
}


.text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
}


.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

.slide-image {
   width: 70px;
   height: 500px;
}

.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active, .dot:hover {
   background-color: #717171;
}


.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

.food-btn, .cart-btn {
   width: 100px;
   height: 40px;
   background-color: white;
   color: black;
   border-radius: 10px;
   border: 1px solid coral;
   margin-left: 30px;
}

.cart-btn:hover {
   background-color: coral;
   color: white;
   transition: 0.9s ease-in-out;
   cursor: pointer;
}



@media only screen and (max-width: 300px) {

   .prev, .next, .text {
      font-size: 11px
   }
}

@media only screen and (max-width: 600px) {
   .food-btn, .cart-btn {
      margin-top: 20px;
      margin-right: 30px;
   }

   .slide-image {
      height: 300px;
   }

   .dot {
      display: none;
   }
}




/*review section*/
.review {
   padding: 4.5rem 9%;
}

@media (max-width: 450px) {
   .heading {
      font-size: 2.5rem;
   }
}

@media only screen and (max-width:600px) {
   .review .review-container .box {
      width: 100vw;
   }
}

.heading {
   text-align: center;
   font-size: 3rem;
   color: rgb(63, 61, 61);
   padding: 1rem;
   margin: 2rem 0;
   background: #F8AFA6;
}


.review .review-container {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.review .review-container .box {
   position: relative;
   margin-top: 30px;
   justify-content: space-between;
   flex: 1 1 25rem;
   border: 0.1rem solid rgba(0, 0, 0, .1);
   border-radius: 1.5rem;
   padding: 3rem 2rem;
   box-shadow: 0 0.5rem 1.5rem black;
}

.stars {
   color: rgb(243, 78, 18);
}


.review .review-container .box p {
   color: #999;
   line-height: 1.5;
   padding-top: 2.5rem;
   font-size: 1.5em;
}

.review .review-container .box .user {
   display: flex;
   padding-top: 2rem;
   align-items: center;
}

.review .review-container .box .user img {
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
   margin-right: 1rem;
   object-fit: cover;
}

.review .review-container .box .user h3 {
   font-size: 2rem;
   color: rgb(40, 39, 39);
}



/*contact section*/
.contact .row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.contact .row .image {
   flex: 1 1 50rem;
}

.contact .row .image img {
   width: 100%;

}

.contact .row form {
   flex: 1 1 30rem;
   border: 2px solid black;
   padding: 2rem;
   text-align: center;
}

.contact .row form .box {
   width: 100%;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: rgb(44, 42, 42);
   border: 1.5px solid black;
   margin: 1rem 0;
}

.btn {
   display: inline-block;
   margin-top: 1rem;
   background-color: #F8AFA6;
   cursor: pointer;
   color: black;
   font-size: 1.8rem;
   padding: 1rem 3rem;
}

.btn:hover {
   background-color: #e97f71;
   transition: 0.9s ease;
   color: white;
}




/*footer section*/
.footer .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
}

.footer .box-container .box {
   text-align: center;
}

.footer .box-container .box i {
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: #F8AFA6;
   color: #fff;
   margin-bottom: 1rem;
}

.footer .box-container .box h3 {
   margin: 1rem 0;
   font-size: 2rem;
   color: black;
}

.footer .box-container .box p {
   line-height: 2;
   font-size: 1.6rem;
   color: rgb(66, 58, 58);
}

.footer .cpyright {
   text-align: center;
   margin-top: 3rem;
   padding-top: 2.5rem;
   border-top: var(--border);
   font-size: 2rem;
   color: rgb(33, 32, 32);
}

.name {
   color: #ed9185;
   margin-top: 20px;
}




